* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  padding: 0;
}

section {
  max-width: 40rem;
  padding: 2rem;
  margin: 0 auto;
}

h4 {
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.address-search-container {
  display: flex;
}

.mobile-address-search {
  display: none !important;
}

.address-search {
  min-width: 10rem;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  html {
    font-size: 13px;
  }

  section {
    max-width: 30rem;
  }

  .mobile-address-search {
    font-size: 12px !important;
    min-width: 5rem;
    display: inline-block !important;
    margin-bottom: 3px;
  }

  .address-search {
    display: none !important;
  }

  .submit-form {
    font-size: 12px !important;
  }

  .title {
    font-size: 1.1rem;
  }
}
